@using Microsoft.AspNetCore.Identity
@using Shoppu.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="is-hidden-mobile is-hidden-tablet-only is-flex">
  @if (SignInManager.IsSignedIn(User))
  {
    @if (User.IsInRole("Admin"))
    {
      <a class="navbar-item" asp-page="/Products/Manage" asp-route-categoryUrl="clothes">
        Manage products
      </a>
    }
    @* else
      { *@
    @await Component.InvokeAsync("ShoppingCardNavbarItem")
    @* } *@
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Account
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" asp-area="" asp-page="/Orders/List">
          My orders
        </a>
        <hr class="navbar-divider">
        <form id="logout-form" asp-area="Identity" asp-page="/Account/Logout"
        asp-route-returnUrl="" method="post">
          <a id="submit-logout" class="navbar-item">Logout</a>
        </form>
      </div>
    </div>
  }
  else
  {
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" asp-area="Identity" asp-page="/Account/Register">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light" asp-area="Identity" asp-page="/Account/Login">
          Log in
        </a>
      </div>
    </div>
  }
</div>
<script>
  var isUserSignedIn = "@SignInManager.IsSignedIn(User)";
  if (isUserSignedIn === "True") {
    var submitFormLink = document.querySelector('#submit-logout');
    var form = document.querySelector("#logout-form")
    submitFormLink.addEventListener('click', () => {
      form.submit();
    })
  }
</script>