@import url("https://fonts.cdnfonts.com/css/formular?styles=145773,145771,145765");

ul.collapsed {
	height: 0;
	overflow: hidden;
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body > footer {
	margin-top: auto;
}

nav.navbar {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 140px;
	transition: 0.5s;
}

.navbar-menu-item {
	font-family: "Formular", sans-serif;
	text-transform: uppercase;
	flex-grow: 0;
}

.navbar-menu-item .menu-item-box,
.navbar-menu-item .menu-item-box .link-wrapper {
	height: 100%;
}

.navbar-menu-item .menu-item-box .link-wrapper {
	border-bottom: 2px solid transparent;
}

.navbar-menu-item:hover .menu-item-box .link-wrapper {
	border-bottom: 2px solid black;
}

.navbar-menu-item:hover a.navbar-item {
	background-color: transparent;
}

.navbar-menu-item:first-of-type,
.navbar-menu-item:last-of-type {
	flex-grow: 1;
	flex-basis: 0;
}

nav.navbar .navbar-item.site-name {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Formular", sans-serif;
}

nav a.nav-menu-sublink {
	color: black;
	font-family: "Formular", sans-serif;
	text-transform: none;
}

nav a.nav-menu-sublink:hover {
	border-bottom: 1px solid black;
}

footer#page-footer {
	white-space: unset;
}

section.app-section {
	margin-top: 140px;
}

.create-variant-upload-image {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
}

/* .manage-product-table .product-row:nth-of-type(odd) {
	background-color: red;
} */

div.has-products-main-menu {
	position: unset;
}

div.has-products-main-menu div.products-main-menu {
	position: absolute;
	left: 0;
	width: 100vw;
	margin-top: -4px;
}

@media (max-width: 1023px) {
	div.has-products-main-menu {
		position: relative;
	}

	div.has-products-main-menu div.products-main-menu {
		position: static;
		margin-left: 0;
		margin-top: 35px;
	}
}

aside.browse-side-menu {
	position: fixed;
	transition: 0.5s;
	top: 50px;
}

aside.browse-side-menu.pull-up {
	top: 190px;
}

button.scroll-button:focus:not(:active) {
	outline: none;
	box-shadow: none;
}

.main-columns {
	position: relative;
}

.images-columns {
	max-height: 700px;
	height: 700px;
}

.images-columns .images-list-wrapper {
	max-height: 100%;
	height: 100%;
}

.images-columns .images-list-wrapper .images-list-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.images-columns button.scroll-button {
	position: absolute;
	height: 50px;
	border: none;
	border-radius: 0;
	opacity: 0.8;
	z-index: 1;
}
.images-columns button.scroll-button.up-button,
.images-columns button.scroll-button.down-button {
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
}

.images-columns button.scroll-button.up-button:hover,
.images-columns button.scroll-button.down-button:hover {
	left: 0;
	height: 60px;
	width: 100%;
	opacity: 1;
	transform: translateX(0);
}

.images-columns button.scroll-button.up-button:hover i {
	transform: translateY(-5px);
}

.images-columns button.scroll-button.down-button:hover i {
	transform: translateY(5px);
}

.images-columns button.scroll-button.up-button {
	top: 0;
}

.images-columns button.scroll-button.down-button {
	bottom: 0;
}

.images-columns button.scroll-button.left-button {
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 80px;
}

.images-columns button.scroll-button.right-button {
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 80px;
}

.images-columns button.scroll-button.left-button:hover,
.images-columns button.scroll-button.right-button:hover {
	width: 60px;
	height: 100px;
}

.images-columns button.scroll-button.left-button:hover i {
	transform: translateX(-5px);
}

.images-columns button.scroll-button.right-button:hover i {
	transform: translateX(5px);
}

.images-columns .images-list-wrapper img {
	border-bottom: 3px solid transparent;
}

.images-columns .images-list-wrapper img.selected {
	border-bottom: 3px solid black;
	filter: brightness(0.8);
}

.images-columns .images-list-wrapper img:hover {
	cursor: pointer;
}

.images-columns .main-image img {
	height: 100%;
}

.product-data {
	position: relative;
}

.product-data .product-data-wrapper {
	font-family: "Formular", sans-serif;
	min-width: 300px;
	position: sticky;
	top: 50%;
	transform: translateY(-50%);
}

.product-data a.color-option {
	position: relative;
	display: block;
	width: 24px;
	height: 24px;
	border: 5px solid transparent;
	border-radius: 100%;
}

.product-data a.color-option.selected {
	pointer-events: none;
}

.product-data a.color-option span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	display: block;
	border: 1px solid transparent;
	border-radius: 100%;
}

.product-data a.color-option:hover,
.product-data a.color-option.selected {
	border: 5px solid white;
}

.product-data a.color-option:hover span,
.product-data a.color-option.selected span {
	border: 1px solid #777;
}

.product-data button.add-to-cart-button {
	background-color: #222;
	color: white;
	border-radius: 0;
	transition: 0.3s;
}

.product-data button.add-to-cart-button:hover {
	background-color: black;
}

.card.product-information {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.card.product-information header.card-header,
.card.product-information div.card-content {
	font-family: "Formular", sans-serif;
	border: none;
	box-shadow: none;
}

.card.product-information header.card-header:hover {
	cursor: pointer;
}

.card.product-information header.card-header .card-header-icon i.rotated {
	transform: rotate(180deg);
}

.card.product-information div.card-content {
	overflow: hidden;
	border-bottom: 1px solid black;
	border-radius: 0;
}

.card.product-information p.information {
	background-color: transparent;
	font-family: inherit;
	white-space: pre;
}

a.is-grey,
p.is-grey,
span.is-grey,
label.is-grey {
	color: #777;
}

@media (max-width: 1407px) {
	.product-information-container {
		padding-right: 20px !important;
	}

	.images-columns button.scroll-button.right-button {
		right: 82px;
	}
}

/* UNDER DESKTOP WIDTH */
@media (max-width: 1215px) {
	.container.product-container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.product-information-container {
		padding-right: 28px !important;
	}

	.images-columns button.scroll-button.right-button {
		right: 30px;
	}
}

/* UNDER TABLET WIDTH */
@media (max-width: 1023px) {
	.columns.images-columns {
		height: auto;
		max-height: unset;
	}

	.product-information-container {
		padding-right: 12px !important;
	}

	.main-image,
	.product-information-container {
		margin-left: auto;
		margin-right: auto;
	}

	.images-columns button.scroll-button.right-button {
		right: 13px;
	}

	.product-data .product-data-wrapper {
		position: unset;
		top: unset;
		transform: unset;
		padding-top: 20px;
	}
}

/* UNDER MOBILE WIDTH */
@media (max-width: 768px) {
	.columns.images-columns {
		height: auto;
		max-height: unset;
		width: 100%;
	}
	.columns.main-columns,
	.columns.images-columns,
	.columns.product-information-columns {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.images-columns .main-image {
		padding-left: 0;
		padding-right: 0;
	}

	.images-columns button.scroll-button.left-button {
		left: 0;
	}

	.images-columns button.scroll-button.right-button {
		right: 0;
	}

	.container.product-container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.product-data .product-data-wrapper {
		min-width: unset;
	}
}
