<div class="has-text-centered is-flex filters-submit-buttons">
    <a asp-page="/Shop/Browse" asp-route-currentPage="1"
        class="button is-dark is-outlined is-flex-grow-1"><strong>Clear</strong></a>
    <button type="submit" class="button is-dark is-flex-grow-1"><strong>Save</strong></button>
</div>